.page {
  min-width: 1100px; /* ancho mínimo */
  max-width: 1600px; /* ancho máximo */
  margin: 0 auto; /* centra el bloque en pantallas más grandes */
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Logo */
.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin-left: 30px;
}

/* Navegación */
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Title */
.header__content {
  max-width: 709px;
}
.header__title {
  position: absolute;
  top: 183px;
  left: 80px;
  padding-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

/* Description */
.header__description {
  position: absolute;
  top: 365px;
  left: 80px;
  padding-left: 80px;
  max-width: 683px;
  color: #333;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

/* Imagen principal */
.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

/* Footer dentro del header */
.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  padding-left: 80px;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 80px;
}
.recipes {
  min-height: 720px;
  max-height: 800px;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 40px 20px;
  text-align: left;
}
.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  margin-top: 80px;
  margin-bottom: 215px;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
  border-radius: 8px;
}

.recipes__video-caption {
  margin-top: 24px;
  color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.form__imput {
  border-radius: 4px;
}
.form__button {
  border-radius: 4px;
  background: #2f80ed;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  height: 60px;
}
.form__button--submit {
  background: #898989;
  color: white;
}

.form__button--submit:enabled {
  background: #2f80ed;
  font-weight: 600;
}

.form__button--submit:hover:enabled {
  background: #2f80ed;
  opacity: 70%;
}
.form__checkbox-input {
  border-radius: 2px;
}

.reservation__title {
  padding-top: 100px;
  border: 0px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation_fieldset {
  max-width: 385px;
  width: 100%;
  margin: 0 auto; /* 🔹 Esto lo centra */
  border: none; /* 🔹 Quitamos borde */
  padding: 0; /* 🔹 Sin padding extra */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__label-terminos {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 8px;
  margin-top: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 120px;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__imput {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  height: 60px;
}
