.page {
  min-width: 1100px; /* ancho mínimo */
  max-width: 1600px; /* ancho máximo */
  margin: 0 auto; /* centra el bloque en pantallas más grandes */
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
